/*
 * fonts.rc
 *
 * this file includes all the internal font PFM files.
 * printers referance these individually by the short name
 * (eg. agb, agbo, agd, etc). the second word in the font directory
 * entry points to this kind of short name.
 *
 */

#define DEF_FONT(num, fnt) \
    num FONTMETRIC LOADONCALL MOVEABLE DISCARDABLE fnt.ntm

DEF_FONT(ARIAL, afm\ar)
DEF_FONT(ARIAL_BOLD, afm\arb)
DEF_FONT(ARIAL_BOLDOBLIQUE, afm\arbo)
DEF_FONT(ARIAL_OBLIQUE, afm\aro)
DEF_FONT(ARIAL_NARROW, afm\arn)
DEF_FONT(ARIAL_NARROW_BOLD, afm\arnb)
DEF_FONT(ARIAL_NARROW_BOLDOBLIQUE, afm\arnbo)
DEF_FONT(ARIAL_NARROW_OBLIQUE, afm\arno)
DEF_FONT(AVANTGARDE_BOOK, afm\agb)
DEF_FONT(AVANTGARDE_BOOKOBLIQUE, afm\agbo)
DEF_FONT(AVANTGARDE_DEMI, afm\agd)
DEF_FONT(AVANTGARDE_DEMIOBLIQUE, afm\agdo)
DEF_FONT(BOOKMAN_DEMI, afm\bd)
DEF_FONT(BOOKMAN_DEMIITALIC, afm\bdi)
DEF_FONT(BOOKMAN_LIGHT, afm\bl)
DEF_FONT(BOOKMAN_LIGHTITALIC, afm\bli)
DEF_FONT(COURIER, afm\cm)
DEF_FONT(COURIER_BOLD, afm\cb)
DEF_FONT(COURIER_BOLDOBLIQUE, afm\cbo)
DEF_FONT(COURIER_OBLIQUE, afm\co)
DEF_FONT(GARAMOND_BOLD, afm\gab)
DEF_FONT(GARAMOND_BOLDITALIC, afm\gabi)
DEF_FONT(GARAMOND_LIGHT, afm\gal)
DEF_FONT(GARAMOND_LIGHTITALIC, afm\gali)
DEF_FONT(HELVETICA, afm\hm)
DEF_FONT(HELVETICA_BLACK, afm\hvbl)
DEF_FONT(HELVETICA_BLACKOBLIQUE, afm\hvblo)
DEF_FONT(HELVETICA_BOLD, afm\hb)
DEF_FONT(HELVETICA_BOLDOBLIQUE, afm\hbo)
DEF_FONT(HELVETICA_CONDENSED, afm\hvc)
DEF_FONT(HELVETICA_CONDENSED_BOLD, afm\hvcb)
DEF_FONT(HELVETICA_CONDENSED_BOLDOBL, afm\hvcbo)
DEF_FONT(HELVETICA_CONDENSED_OBLIQUE, afm\hvcdo)
DEF_FONT(HELVETICA_LIGHT, afm\hvl)
DEF_FONT(HELVETICA_LIGHTOBLIQUE, afm\hvlo)
DEF_FONT(HELVETICA_NARROW, afm\hvn)
DEF_FONT(HELVETICA_NARROW_BOLD, afm\hvnb)
DEF_FONT(HELVETICA_NARROW_BOLDOBLIQUE, afm\hvnbo)
DEF_FONT(HELVETICA_NARROW_OBLIQUE, afm\hvno)
DEF_FONT(HELVETICA_OBLIQUE, afm\ho)
DEF_FONT(KORINNA_BOLD, afm\krb)
DEF_FONT(KORINNA_KURSIVBOLD, afm\krkb)
DEF_FONT(KORINNA_KURSIVREGULAR, afm\krkx)
DEF_FONT(KORINNA_REGULAR, afm\krrg)
DEF_FONT(LUBALINGRAPH_BOOK, afm\lb)
DEF_FONT(LUBALINGRAPH_BOOKOBLIQUE, afm\lbo)
DEF_FONT(LUBALINGRAPH_DEMI, afm\ld)
DEF_FONT(LUBALINGRAPH_DEMIOBLIQUE, afm\ldo)
DEF_FONT(NEWCENTURYSCHLBK_BOLD, afm\ncb)
DEF_FONT(NEWCENTURYSCHLBK_BOLDITALIC, afm\ncbi)
DEF_FONT(NEWCENTURYSCHLBK_ITALIC, afm\nci)
DEF_FONT(NEWCENTURYSCHLBK_ROMAN, afm\ncr)
DEF_FONT(PALATINO_BOLD, afm\pb)
DEF_FONT(PALATINO_BOLDITALIC, afm\pbi)
DEF_FONT(PALATINO_ITALIC, afm\pi)
DEF_FONT(PALATINO_ROMAN, afm\pr)
DEF_FONT(SOUVENIR_DEMI, afm\sd)
DEF_FONT(SOUVENIR_DEMIITALIC, afm\sdi)
DEF_FONT(SOUVENIR_LIGHT, afm\sl)
DEF_FONT(SOUVENIR_LIGHTITALIC, afm\sli)
DEF_FONT(SYMBOL, afm\sm)
DEF_FONT(TIMES_BOLD, afm\tb)
DEF_FONT(TIMES_BOLDITALIC, afm\tbi)
DEF_FONT(TIMES_ITALIC, afm\ti)
DEF_FONT(TIMES_ROMAN, afm\tr)
DEF_FONT(TIMES_NEW_ROMAN, afm\tnr)
DEF_FONT(TIMES_NEW_ROMAN_BOLD, afm\tnrb)
DEF_FONT(TIMES_NEW_ROMAN_BOLDITALIC, afm\tnrbi)
DEF_FONT(TIMES_NEW_ROMAN_ITALIC, afm\tnri)
DEF_FONT(VARITIMES_BOLD, afm\vtb)
DEF_FONT(VARITIMES_BOLDITALIC, afm\vtbi)
DEF_FONT(VARITIMES_ITALIC, afm\vti)
DEF_FONT(VARITIMES_ROMAN, afm\vtr)
DEF_FONT(ZAPFCALLIGRAPHIC_BOLD, afm\zcb)
DEF_FONT(ZAPFCALLIGRAPHIC_BOLDITALIC, afm\zcbi)
DEF_FONT(ZAPFCALLIGRAPHIC_ITALIC, afm\zci)
DEF_FONT(ZAPFCALLIGRAPHIC_ROMAN, afm\zcr)
DEF_FONT(ZAPFCHANCERY_MEDIUMITALIC, afm\zc)
DEF_FONT(ZAPFDINGBATS, afm\zd)

#if defined(DBCS) // FE font

// Japanese fonts.

DEF_FONT( FUTOGOB101_BOLD, afm.jpn\fgb101bh )
DEF_FONT( FUTOMINA101_BOLD, afm.jpn\fma101bh )
DEF_FONT( GOTHICBBB_MEDIUM, afm.jpn\gbmh )
DEF_FONT( HEISEIKAKUGO_W3, afm.jpn\hkg3h )
DEF_FONT( HEISEIKAKUGO_W5, afm.jpn\hkg5h )
DEF_FONT( HEISEIKAKUGO_W7, afm.jpn\hkg7h )
DEF_FONT( HEISEIKAKUGO_W9, afm.jpn\hkg9h )
DEF_FONT( HEISEIMARUGO_W4, afm.jpn\hmg4h )
DEF_FONT( HEISEIMIN_W3, afm.jpn\hm3h )
DEF_FONT( HEISEIMIN_W9, afm.jpn\hm9h )
DEF_FONT( JUN101_LIGHT, afm.jpn\j101lh )
DEF_FONT( JUN34_MEDIUM, afm.jpn\j34mh )
DEF_FONT( JUN501_BOLD, afm.jpn\j501bh )
DEF_FONT( MIDASHIGO_MB31, afm.jpn\mgmb31h )
DEF_FONT( MIDASHIMIN_MA31, afm.jpn\mmma31h )
DEF_FONT( RYUMIN_BOLD, afm.jpn\rbh )
DEF_FONT( RYUMIN_HEAVY, afm.jpn\rhh )
DEF_FONT( RYUMIN_LIGHT, afm.jpn\rlh )
DEF_FONT( RYUMIN_MEDIUM, afm.jpn\rmh )
DEF_FONT( RYUMIN_REGULAR, afm.jpn\rrh )
DEF_FONT( RYUMIN_ULTRA, afm.jpn\ruh )
DEF_FONT( SHINGO_BOLD, afm.jpn\sgbh )
DEF_FONT( SHINGO_LIGHT, afm.jpn\sglh )
DEF_FONT( SHINGO_MEDIUM, afm.jpn\sgmh )
DEF_FONT( SHINGO_REGULAR, afm.jpn\sgrh )
DEF_FONT( SHINGO_ULTRA, afm.jpn\sguh )
DEF_FONT( SHINSEIKAI_CBSK1, afm.jpn\cbsk1h )
DEF_FONT( TYPEBANKG_B, afm.jpn\tbmhh )
DEF_FONT( TYPEBANKG_HV, afm.jpn\tbmmh )
DEF_FONT( TYPEBANKM_HV, afm.jpn\tbghh )
DEF_FONT( TYPEBANKM_M, afm.jpn\tbgbh )

DEF_FONT( QMS_TYPEBANKG_B, afm.jpn\qmtbgbh )
DEF_FONT( QMS_TYPEBANKG_H, afm.jpn\qmtbghh )
DEF_FONT( QMS_TYPEBANKM_M, afm.jpn\qmtbmmh )
DEF_FONT( QMS_TYPEBANKM_H, afm.jpn\qmtbmhh )

DEF_FONT( HEISEIKAKUGOTHICW5_MEDIUM, afm.jpn\nihgo5h )
DEF_FONT( HEISEIMINCHOW3_LIGHT, afm.jpn\nihmi3h )
DEF_FONT( NIS_M5, afm.jpn\nijwm5h )
DEF_FONT( NIS_R1, afm.jpn\nijwr1h )
DEF_FONT( NIS_S7, afm.jpn\nijws7h )

DEF_FONT( RICOHGOTHICB, afm.jpn\rigotbh )
DEF_FONT( RICOHGOTHICEB, afm.jpn\rigotebh )
DEF_FONT( RICOHGOTHICM, afm.jpn\rigotmh )
DEF_FONT( RICOHGYOSHO, afm.jpn\rigyobh )
DEF_FONT( RICOHKAISHO, afm.jpn\rikaimh )
DEF_FONT( RICOHKYOKASHO, afm.jpn\rikyolh )
DEF_FONT( RICOHMGOTHICB, afm.jpn\rirgobh )
DEF_FONT( RICOHMGOTHICL, afm.jpn\rirgolh )
DEF_FONT( RICOHMGOTHICM, afm.jpn\rirgomh )
DEF_FONT( RICOHMINCHOB, afm.jpn\riminbh )
DEF_FONT( RICOHMINCHOEB, afm.jpn\riminebh )
DEF_FONT( RICOHMINCHOL, afm.jpn\riminlh )

// Japanese fonts (vertical).

DEF_FONT( FUTOGOB101_BOLD_VERT, afm.jpn\fgb101bv )
DEF_FONT( FUTOMINA101_BOLD_VERT, afm.jpn\fma101bv )
DEF_FONT( GOTHICBBB_MEDIUM_VERT, afm.jpn\gbmv )
DEF_FONT( HEISEIKAKUGO_W3_VERT, afm.jpn\hkg3v )
DEF_FONT( HEISEIKAKUGO_W5_VERT, afm.jpn\hkg5v )
DEF_FONT( HEISEIKAKUGO_W7_VERT, afm.jpn\hkg7v )
DEF_FONT( HEISEIKAKUGO_W9_VERT, afm.jpn\hkg9v )
DEF_FONT( HEISEIMARUGO_W4_VERT, afm.jpn\hmg4v )
DEF_FONT( HEISEIMIN_W3_VERT, afm.jpn\hm3v )
DEF_FONT( HEISEIMIN_W9_VERT, afm.jpn\hm9v )
DEF_FONT( JUN101_LIGHT_VERT, afm.jpn\j101lv )
DEF_FONT( JUN34_MEDIUM_VERT, afm.jpn\j34mv )
DEF_FONT( JUN501_BOLD_VERT, afm.jpn\j501bv )
DEF_FONT( MIDASHIGO_MB31_VERT, afm.jpn\mgmb31v )
DEF_FONT( MIDASHIMIN_MA31_VERT, afm.jpn\mmma31v )
DEF_FONT( RYUMIN_BOLD_VERT, afm.jpn\rbv )
DEF_FONT( RYUMIN_HEAVY_VERT, afm.jpn\rhv )
DEF_FONT( RYUMIN_LIGHT_VERT, afm.jpn\rlv )
DEF_FONT( RYUMIN_MEDIUM_VERT, afm.jpn\rmv )
DEF_FONT( RYUMIN_REGULAR_VERT, afm.jpn\rrv )
DEF_FONT( RYUMIN_ULTRA_VERT, afm.jpn\ruv )
DEF_FONT( SHINGO_BOLD_VERT, afm.jpn\sgbv )
DEF_FONT( SHINGO_LIGHT_VERT, afm.jpn\sglv )
DEF_FONT( SHINGO_MEDIUM_VERT, afm.jpn\sgmv )
DEF_FONT( SHINGO_REGULAR_VERT, afm.jpn\sgrv )
DEF_FONT( SHINGO_ULTRA_VERT, afm.jpn\sguv )
DEF_FONT( SHINSEIKAI_CBSK1_VERT, afm.jpn\cbsk1v )
DEF_FONT( TYPEBANKG_B_VERT, afm.jpn\tbmhv )
DEF_FONT( TYPEBANKG_HV_VERT, afm.jpn\tbmmv )
DEF_FONT( TYPEBANKM_HV_VERT, afm.jpn\tbghv )
DEF_FONT( TYPEBANKM_M_VERT, afm.jpn\tbgbv )

DEF_FONT( QMS_TYPEBANKG_B_VERT, afm.jpn\qmtbgbv )
DEF_FONT( QMS_TYPEBANKG_H_VERT, afm.jpn\qmtbghv )
DEF_FONT( QMS_TYPEBANKM_M_VERT, afm.jpn\qmtbmmv )
DEF_FONT( QMS_TYPEBANKM_H_VERT, afm.jpn\qmtbmhv )

DEF_FONT( HEISEIKAKUGOTHICW5_MEDIUM_VERT, afm.jpn\nihgo5v )
DEF_FONT( HEISEIMINCHOW3_LIGHT_VERT, afm.jpn\nihmi3v )
DEF_FONT( NIS_M5_VERT, afm.jpn\nijwm5v )
DEF_FONT( NIS_R1_VERT, afm.jpn\nijwr1v )
DEF_FONT( NIS_S7_VERT, afm.jpn\nijws7v )

DEF_FONT( RICOHGOTHICB_VERT, afm.jpn\rigotbv )
DEF_FONT( RICOHGOTHICEB_VERT, afm.jpn\rigotebv )
DEF_FONT( RICOHGOTHICM_VERT, afm.jpn\rigotmv )
DEF_FONT( RICOHGYOSHO_VERT, afm.jpn\rigyobv )
DEF_FONT( RICOHKAISHO_VERT, afm.jpn\rikaimv )
DEF_FONT( RICOHKYOKASHO_VERT, afm.jpn\rikyolv )
DEF_FONT( RICOHMGOTHICB_VERT, afm.jpn\rirgobv )
DEF_FONT( RICOHMGOTHICL_VERT, afm.jpn\rirgolv )
DEF_FONT( RICOHMGOTHICM_VERT, afm.jpn\rirgomv )
DEF_FONT( RICOHMINCHOB_VERT, afm.jpn\riminbv )
DEF_FONT( RICOHMINCHOEB_VERT, afm.jpn\riminebv )
DEF_FONT( RICOHMINCHOL_VERT, afm.jpn\riminlv )

// Traditional Chinese fonts.

DEF_FONT( HEI_LIGHT, afm.cht\dcheilh )
DEF_FONT( KAI_LIGHT, afm.cht\dckailh )
DEF_FONT( SUNG_LIGHT, afm.cht\dcsunglh )

DEF_FONT( DFFANGSONG_W4, afm.cht\dffnsw4h )
DEF_FONT( DFGIRL_W6, afm.cht\dfgirl6h )
DEF_FONT( DFGUYIN_MD, afm.cht\dfguinmh )
DEF_FONT( DFHEI_BD, afm.cht\dfheibh )
DEF_FONT( DFHEI_MD, afm.cht\dfheimh )
DEF_FONT( DFHEI_UB, afm.cht\dfheiuh )
DEF_FONT( DFHEI_XB, afm.cht\dfheixbh )
DEF_FONT( DFKAISHU_W5, afm.cht\dfkais5h )
DEF_FONT( DFKANTINGLIU_XB, afm.cht\dfktngxh )
DEF_FONT( DFLIHEI_BD, afm.cht\dflheibh )
DEF_FONT( DFLIHEI_LT, afm.cht\dflheilh )
DEF_FONT( DFLIHEI_MD, afm.cht\dflheimh )
DEF_FONT( DFLIKAISHU_MD, afm.cht\dflkasmh )
DEF_FONT( DFLIKINGHEI_XB, afm.cht\dflkghxh )
DEF_FONT( DFLISHU_W5, afm.cht\dflshu5h )
DEF_FONT( DFLISONG_BD, afm.cht\dflsngbh )
DEF_FONT( DFLISONG_LT, afm.cht\dflsnglh )
DEF_FONT( DFLISONG_MD, afm.cht\dflsngmh )
DEF_FONT( DFLIYEASONG_BD, afm.cht\dflysnbh )
DEF_FONT( DFLIYUAN_BD, afm.cht\dflyunbh )
DEF_FONT( DFLIYUAN_XB, afm.cht\dflyunxh )
DEF_FONT( DFMING_BD, afm.cht\dfmingbh )
DEF_FONT( DFMING_LT, afm.cht\dfminglh )
DEF_FONT( DFMING_MD, afm.cht\dfmingmh )
DEF_FONT( DFMING_UB, afm.cht\dfminguh )
DEF_FONT( DFMING_XB, afm.cht\dfmingxh )
DEF_FONT( DFPOP1_W7, afm.cht\dfpop7h )
DEF_FONT( DFSONG_W4, afm.cht\dfsong4h )
DEF_FONT( DFXINGSHU_MD, afm.cht\dfxngsmh )
DEF_FONT( DFYUAN_BD, afm.cht\dfyuanbh )
DEF_FONT( DFYUAN_LT, afm.cht\dfyuanlh )
DEF_FONT( DFYUAN_XB, afm.cht\dfyuanxh )
DEF_FONT( DFZONGYI_XB, afm.cht\dfzongxh )

#endif // DBCS

