/*
 * glyphset.rc
 *
 * this file includes all the internal font GLYPHSET info.
 *
 */

FONTENC_RKSJ GLYPHSET LOADONCALL MOVEABLE DISCARDABLE gly\932.gly
FONTENC_GB GLYPHSET LOADONCALL MOVEABLE DISCARDABLE gly\936.gly
FONTENC_KSC GLYPHSET LOADONCALL MOVEABLE DISCARDABLE gly\949.gly
FONTENC_B5 GLYPHSET LOADONCALL MOVEABLE DISCARDABLE gly\950.gly
