#include <windows.h>

#ifdef DDK_BUILD
  #include <ntverp.h>
#else
  #include <TabletPCVer.h>
#endif

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Mutoh Serial Pen Tablet HID Driver"
#define VER_INTERNALNAME_STR            "mutohpen.sys"
#define VER_ORIGINALFILENAME_STR        "mutohpen.sys"

#include <Common.ver>
#include "errcodes.rc"
