#include <mindrvrc.h>
#include "epson24c.rcv"

1      RC_TABLES   PRELOAD MOVEABLE        EPSON24C.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMANPS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS15.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS17.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS20.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST05.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST06.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST10.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST12.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST15.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST17.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST20.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT05.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT06.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT10.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT12.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT15.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT17.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRIPT20.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRA.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATOR.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATORS.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NN.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NN.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NH.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NH.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NR.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NR.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NC.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NC.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NM.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NM.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG1NS.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNG2NS.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NN.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NN.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NH.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NH.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NR.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NR.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NC.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NC.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NM.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NM.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV1NS.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\SNGV2NS.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NN.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NN.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NH.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NH.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NR.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NR.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NC.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NC.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NM.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NM.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI1NS.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEI2NS.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NN.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NN.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NH.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NH.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NR.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NR.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NC.IFI
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NC.IFI
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NM.IFI
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NM.IFI
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV1NS.IFI
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEIV2NS.IFI

1      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\EPSONXTA.RLE
2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\EPSONXTB.RLE

STRINGTABLE

BEGIN
       1                  "Epson DLQ-3000C"
       2                  "Epson EPL-7050C LQ-MODE"
       3                  "Epson LQ-500C"
       4                  "Epson LQ-550C"
       5                  "Epson LQ-570C"
       6                  "Epson LQ-570C+"
       7                  "Epson LQ-1000C"
       8                  "Epson LQ-1010C"
       9                  "Epson LQ-1050C"
       10                 "Epson LQ-1055C"
       11                 "Epson LQ-1060C"
       12                 "Epson LQ-1070C"
       13                 "Epson LQ-1070C+"
       14                 "Epson LQ-1170C"
       15                 "Epson LQ-2500C"
       16                 "Epson LQ-2550C"
       17                 "Epson Stylus 800C"
       19                 "Epson Stylus 1000C"
       18                 "Epson Stylus 800C+"
       257                "%d x %d"
       258                "A2 420 x 594 mm"
       259                "A3 Transverse 420 x 297 mm"
       260                "8 x 6 in"
       261                "Fanfold 14 7/8 x 11.69 in"
       262                "Fanfold 210 mm x 12 in"
       263                "Fanfold 358 mm x 12 in"
       264                "Fanfold 15 x 12 in"
       265                "Sheet Feeder - Bin 1"
       266                "Sheet Feeder - Bin 2"
       267                "Sans Serif"
       268                "Courier"
       269                "Prestige"
       270                "Script"
       271                "OCR-B"
       272                "OCR-A"
       273                "Orator"
       274                "Orator-S"
       275                "Multifont Cartridge"
END
